@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  --breakpoint-8xl: 96rem; /* 1536px */
}

.bg-img {
  background-image: url('../src/assets/be-a-merchant-bg.png');
  background-repeat: no-repeat;
}

a.active {
  color: #3C65F5;
}

a.pending {
  color: blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}